* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(180, 232, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

body, html {
    height: 100%;
    align-items: center;
}

.main-container {
    width: 30%;
    
    h3 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    ul {
        margin-top: 20px;
        list-style: none;
        list-style-position: inside;
        width: 100%;

        li { 
            cursor: pointer;
            position: relative;
            font-size: 30px;
            margin-top: 3px;
            padding: 12px 8px 12px 40px;
            border: 2px solid salmon;
            border-radius: 35px;  
        }

        /* When clicked on, add a background color and strike out text */
        li.checked {
            background: rgb(169, 166, 166); 
            color: #fff; 
            text-decoration: line-through;
        }        
          
        /* Add a "checked" mark when clicked on */
        li.checked::before {             
        content: '';
        color: red;
        position: absolute;
        border-color: rgb(180, 44, 44);
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 25px;
        width: 9px;       
        }
    }    
}

.container-tasks {
    font-size: 30px;
    background-color: white;
    padding: 20px 30px;
    border: 2px solid salmon;
    border-radius: 35px;

    #newtask {
            width: 60%;
            height:20px;
        }
}

.btn {
    text-align: center;
    .submit {
        padding: 15px;
        border-radius: 35px;
         width: 30%;
        border: 2px solid salmon;
        color: red;
        font-weight: bold;
    }    
}

img {
    height: 35px;
    width: 35px;
    float: right;
}

.main-container ul li:hover, .main-container h3:hover {
    background-color: white; 
    color: red;
}    

.submit:hover {
    background-color: #bbb;
  }


